@media screen and (max-width: 1250px) {
  .connexion {
    position: fixed;
    padding: 10% 27%;
    top: 4%;
    left: -8%;
    right: 0;
  }
}

@media screen and (max-width: 925px) {
  .connexion {
    left: -12%;
  }
}

@media screen and (max-width: 768px) {
  .connexion {
    top: 1%;
    left: -3%;
  }
  .connexion form {
    width: 400px;
    height: 425px;
  }
  .connexion form input {
    width: 350px;
    height: 35px;
  }
  .connexion form input::placeholder {
    font-size: 15px;
  }
}

@media screen and (max-width: 680px) {
  .connexion {
    top: 1%;
    left: -5%;
  }
  .connexion form {
    height: 375px;
  }
}

@media screen and (max-width: 650px) {
  .connexion {
    left: -7%;
  }
}

@media screen and (max-width: 590px) {
  .connexion {
    left: -11%;
  }
}

@media screen and (max-width: 590px) {
  .connexion {
    left: -14%;
  }
}

@media screen and (max-width: 540px) {
  .connexion {
    left: -16%;
  }
}

@media screen and (max-width: 500px) {
  .connexion {
    left: -18%;
  }
}

@media screen and (max-width: 481px) {
  .connexion {
    left: -20%;
  }
}

@media screen and (max-width: 454px) {
  .connexion {
    left: -22%;
  }
}

@media screen and (max-width: 440px) {
  .connexion {
    left: -15%;
  }
  .connexion form {
    width: 325px;
    height: 275px;
  }
  .connexion form input {
    width: 250px;
    height: 25px;
  }
  .connexion form h1 {
    font-size: 20px;
  }
  .connexion form #btn {
    font-size: 15px;
    padding: 0;
    height: 30px;
    width: 100px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  .connexion {
    left: -17%;
  }
}

@media screen and (max-width: 390px) {
  .connexion {
    left: -20%;
  }
}

@media screen and (max-width: 375px) {
  .connexion form {
    height: 300px;
  }
  .close {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 368px) {
  .connexion {
    left: -9%;
  }
  .connexion form {
    width: 200px;
    height: 275px;
  }
  .connexion form input {
    width: 150px;
    height: 20px;
  }
  .connexion .oublie {
    padding: 5px;
    font-size: 13px;
  }
}

@media screen and (max-width: 300px) {
  .connexion {
    left: -11%;
  }
}
